*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background: url("image/4.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.container{
    color: white;
    position: relative; 
    max-width: 400px;
    width: 90%; 
    padding: 30px; 
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
}

.container h1{
    width: 100%;
    display: block; 
    text-align: center;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0;
    white-space: nowrap; 
}

.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
    display: flex; 
    align-items: center;
}

.box input{
    background: none;
    width: 90%; 
    padding: 10px 10px; 
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
}

.box i{
    width: 10%; 
    text-align: center;
    font-size: 1.2em; 
    color: purple; 
    min-width: 30px; 
}

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 15px 0 5px 0; 
    padding: 12px 21px;
    border-radius: 10px;
    border: 2px solid purple; 
    font-size: 18px;
    background: none;
    font-weight: bold;
    width: 100%; 
    transition: all 0.3s ease; 
}

.btn:hover{
    opacity: 1.0; 
    color: purple;
    background: white;
}

/* Responsiveness */
@media (max-width: 500px) {
    .container {
        padding: 20px;
        width: 95%;
    }

    .container h1 {
        font-size: 30px;
        padding: 8px 0;
    }

    .box input {
        font-size: 16px;
    }
}